<div class="bg-green-400 flex justify-between bg-gray-100 shadow-2xl" style="padding: 10px">

    <ul class="flex">
        <li class="mr-6">
            <a class="text-blue-500  hover:text-blue-800" href="#">2000 agences partout</a>
        </li>
        <li class="mr-6">
            <a class="text-blue-500 hover:text-blue-800" href="#">Rejoignez-nous</a>
        </li>
        <li class="mr-6">
            <a class="text-blue-500 hover:text-blue-800" href="#">Ton avenir avec Oti</a>
        </li>

    </ul>
    <ul class="flex">
        <li class="mr-6">
            <a class="text-blue-500 hover:text-blue-800" href="#">Nos agances</a>
        </li>
        <li class="mr-6">
            <a class="text-blue-500 hover:text-blue-800" href="#">Mes favoris</a>
        </li>
        {% if app.user %}
            
        <li class="mr-6">
            <a class="text-blue-500 hover:text-blue-800 mx-3" href="{{ path('app_logout') }}">Mon compte</a>
            <a class="text-blue-500 hover:text-blue-800" href="{{ path('app_logout') }}">Déconnexion</a>
        </li>
        {% else %}
            <li class="mr-6">
                <a class="text-blue-500 hover:text-blue-800 mx-3" href="{{ path('app_login') }}">Connexion</a>
                <a class="text-blue-500 hover:text-blue-800" href="{{ path('app_register') }}">M'inscrire</a>
            </li>
        {% endif %}

    </ul>

</div>
