{% extends "base.html.twig" %}

{% block title %}
    Page HOME
{% endblock %}

{% block body %}
    <div class="container">
        <div class="relative bg-red-500">
            <img class="w-full" src="{{ asset('images/back.jpg') }}"/>
            <div class="font-bold absolute top-20 mx-auto">
                <h1 class="text-3xl text-center"> Agence Immobilier la famille</h1>
                <h3 class="text-center">Ton chemin vers la proprieté </h3>
                <div class="mt-32 text-center">
                    {#- -------------- Tabulation  #}
                    <div class="justify-center flex-col w-1/2 mx-auto">

                        <div class="block mb-4 border-b border-gray-200 dark:border-gray-700">
                            <ul class="flex justify-between -mb-px text-md font-medium text-center" id="myTab"
                                data-tabs-toggle="#myTabContent" role="tablist">
                                <li class="mr-2 w-1/3" role="presentation">
                                    <button class="inline-block p-4 border-b-2 rounded-t-lg" id="profile-tab"
                                            data-tabs-target="#profile" type="button" role="tab" aria-controls="profile"
                                            aria-selected="false">Louer
                                    </button>
                                </li>
                                <li class="mr-2 w-1/3" role="presentation">
                                    <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                                            id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab"
                                            aria-controls="dashboard" aria-selected="false">Acheter
                                    </button>
                                </li>
                                <li class="mr-2 w-1/3" role="presentation">
                                    <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                                            id="settings-tab" data-tabs-target="#settings" type="button" role="tab"
                                            aria-controls="settings" aria-selected="false">Estimer
                                    </button>
                                </li>

                            </ul>
                        </div>
                        <div id="myTabContent ">
                            <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="profile" role="tabpanel"
                                 aria-labelledby="profile-tab">
                                <p class="text-sm text-gray-500 dark:text-gray-400">4500 biens à louer</p>
                                <div>
                                    <div>
                                        <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First name</label>
                                        <input type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="John" required>
                                    </div>
                                    <div>
                                        <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First name</label>
                                        <input type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="John" required>
                                    </div>
                                    <div>
                                        <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First name</label>
                                        <input type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="John" required>
                                    </div>

                                </div>

                            </div>
                            <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="dashboard"
                                 role="tabpanel" aria-labelledby="dashboard-tab">
                                <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the
                                    <strong class="font-medium text-gray-800 dark:text-white">Dashboard tab's associated
                                        content</strong>. Clicking another tab will toggle the visibility of this one
                                    for the next. The tab JavaScript swaps classes to control the content visibility and
                                    styling.</p>
                            </div>
                            <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="settings" role="tabpanel"
                                 aria-labelledby="settings-tab">
                                <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the
                                    <strong class="font-medium text-gray-800 dark:text-white">Settings tab's associated
                                        content</strong>. Clicking another tab will toggle the visibility of this one
                                    for the next. The tab JavaScript swaps classes to control the content visibility and
                                    styling.</p>
                            </div>
                            <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="contacts" role="tabpanel"
                                 aria-labelledby="contacts-tab">
                                <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the
                                    <strong class="font-medium text-gray-800 dark:text-white">Contacts tab's associated
                                        content</strong>. Clicking another tab will toggle the visibility of this one
                                    for the next. The tab JavaScript swaps classes to control the content visibility and
                                    styling.</p>
                            </div>
                        </div>


                    </div>

                    {#- ---------------Fin #}

                    <p class="text-4xl font-bold text-green-900">2000 agences immobiliéres</p>
                    <p class="text-4xl font-bold text-green-400">partout, rien que pour vous </p>


                </div>
            </div>

        </div>
    </div>
{% endblock %}